.cards-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  height: 520px;
  justify-items: center;
  margin-bottom: 1.5rem;
  width: 520px;
}

@media only screen and (max-width: 800px) {
  .cards-container {
    grid-column-gap: 7px;
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .cards-container {
    grid-column-gap: 5px;
    height: 350px;
    width: 350px;
  }
}

@media only screen and (min-width: 950px) {
  .cards-container {
    grid-column-gap: 15px;
    height: 600px;
    width: 600px;
  }
}

.Card {
  align-content: flex-start;
  align-items: center;
  background-size: cover;
  border: 2px solid rgb(70, 54, 39);
  border-radius: 0.7rem;
  box-shadow: 0 0.15rem 0.3rem rgba(37, 5, 5, 0.25);
  cursor: pointer;
  display: flex;
  height: 110px;
  justify-content: center;
  box-shadow: black;
  transition: transform 0.5s;
  width: 110px;
}

.Card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

@media only screen and (max-width: 800px) {
  .Card {
    border-radius: 0.5rem;
    height: 82px;
    width: 82px;
  }
}

@media only screen and (max-width: 500px) {
  .Card {
    border-radius: 0.4rem;
    height: 70px;
    width: 70px;
  }
}

@media only screen and (min-width: 950px) {
  .Card {
    border-radius: 0.8rem;
    height: 130px;
    width: 130px;
  }
}

.img-Front {
  padding: 10%;
  width: auto;
  z-index: 10;
}

.main__scores {
  align-items: center;
  align-content: center;
  color: rgb(56, 42, 34);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.main__scores-points {
  color: rgb(44, 87, 34);
  flex: 1 1 auto;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.main__scores-mistakes {
  color: rgb(122, 41, 41);
  flex: 1 1 auto;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.main__subtitle {
  color: rgb(82, 72, 66);
  margin-bottom: 1.5rem;
}

.main__title {
  color: rgb(53, 45, 41);
  margin: 1rem;
}

.showFace-back {
  background-image: url(../img/back.png);
}

.showFace-front {
  background-image: url(../img/front.png);
}
