*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(172, 155, 136);
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  font-family: sans-serif;
  margin: auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.btn-restart {
  background-color: transparent;
  border: 2px solid rgb(70, 54, 39);
  border-radius: 20px;
  color: rgb(70, 54, 39);
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
  outline: none;
  padding: 5px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn-restart:hover {
  background-color: rgb(70, 54, 39);
  border: solid 2px transparent;
  box-shadow: 0 5px 15px rgba(110, 79, 43, 0.25);
  color: white;
  padding: 5px 17px;
  transform: translateY(-2.5px);
  box-shadow: 0 1rem 2rem rgba(black, 0.2);
}

.img {
  max-width: 100px;
}

.footer {
  color: rgb(82, 72, 66);
}
